
#search{
  margin-left: 60px;
  height: 25px;

  &:hover{
    background-color: beige;
  }
  
  &:focus{
    background-color: rgb(241, 239, 236);
  }
}

.list{
  margin-left: 25px;
  height: 85vh;
  overflow-y: scroll;
}

li{
  cursor: pointer;
  list-style-type: none;
  font-size: 20px;
  width: 180px;

  &:hover{
    color: gray;
  }

  &:active{
    color: rgb(29, 18, 184);
  }
}