<!doctype html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{dogs}}</title>

<body>
    <div class="wrapper">
        {{> templates/aside title=dogs}}

        <div class="vizible">
            {{> templates/title}}
            {{> templates/slider}}
        </div>

    </div>
</body>

</html>